<launch>
  <node pkg="test_svo2" type="demo_stereo_node" name="svo" clear_params="true" output="screen">
    <param name="calib_file" value="$(find test_svo2)/calib/euroc_stereo.yaml" />
    <rosparam file="$(find test_svo2)/param/euroc_stereo_imu.yaml" />
  </node>

  <node pkg="rosbag" type="play" name="player" output="log" args="--clock /home/symao/data/euroc/MH_04_difficult.bag"/>

  <!--node name="vis" pkg="rviz" type="rviz" args=" -d $(find test_svo2)/rviz_config.rviz" /-->
</launch>
